:root {
	/* Colors */

	--primary-color: #213885;
	--secondary-color: #0874b8;
	--accent-color: #ffee00;

	--background: #f8f9fc;
	--text: #222;

	--white: #fff;
	--black: #000;

	/* Values */

	--clients-list-gap: 9.2rem;

	--heading-secondary-line-height: 1.2rem;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	scrollbar-width: thin;
}

html {
	font-size: 62.5%;
	font-weight: 400;
	font-family: "Roboto", sans-serif;

	overflow-x: hidden;
	max-width: 100vw;

	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;

	min-height: 100svh;
	max-width: 100vw;

	overflow-x: hidden;

	background-color: var(--background);
	color: var(--text);
}

/***************************************/
/*************** UTILITY ***************/
/***************************************/

.container {
	max-width: 125rem;
	margin: 0 auto;
	padding: 0 1.2rem;
}

.grid {
	display: grid;
	grid-gap: 1rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}

.flex {
	display: flex;
	gap: 1rem;
}

.margin-right-sm {
	margin-right: 1.2rem;
}

.margin-right-md {
	margin-right: 2.4rem;
}

.margin-right-lg {
	margin-right: 3.6rem;
}

.margin-left-sm {
	margin-left: 1.2rem;
}

.margin-left-md {
	margin-left: 2.4rem;
}

.margin-left-lg {
	margin-left: 3.6rem;
}

.heading-secondary {
	font-family: "Trip Sans", "Roboto", sans-serif;

	display: inline-block;

	font-size: 3.8rem;
	font-weight: 700;

	margin-bottom: var(--heading-secondary-line-height);

	border-bottom: 2px solid var(--secondary-color);
	padding: 0 1.8rem var(--heading-secondary-line-height);
}

.lazy-img-box {
	background-image: linear-gradient(
		135deg,
		rgba(189, 221, 241, 1) 0%,
		rgba(118, 168, 199, 1) 100%
	);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	filter: blur(3px);

	overflow: hidden;
}

.lazy-img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;

	opacity: 0;

	transition: opacity 0.3s ease-in-out;
}

.lazy-img-box.loaded > .lazy-img {
	opacity: 1;
}

.lazy-img-box::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgb(255, 255, 255);

	opacity: 0;

	animation: pulse 1.5s ease-in-out infinite;
}

.lazy-img-box.loaded {
	filter: blur(0);
}

.lazy-img-box.loaded::before {
	animation: none;
	content: none;
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 0;
	}
}

.debug-page {
	flex-direction: column;
	gap: 3.2rem;

	align-items: center;

	margin: 12rem;
}

/***************************************/
/*************** BUTTONS ***************/
/***************************************/

/*************** Primary ***************/

.cta-btn {
	display: inline-block;
}

.primary-btn,
.cta-btn {
	display: inline-block;

	background-color: var(--secondary-color);
	border: none;
	border-radius: 0.6rem;

	text-decoration: none;

	padding: 1.2rem 2.4rem;

	cursor: pointer;

	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;

	align-self: flex-end;

	transition: all 0.2s ease-in-out;
}

.primary-btn:hover,
.cta-btn:hover {
	background-color: var(--primary-color);

	transform: scale(1.025);
}

.primary-btn:active,
.cta-btn:active {
	transform: scale(0.9);
	background-color: var(--secondary-color);
}

/*************** Secondary ***************/

.secondary-btn {
	background-color: transparent;
	box-shadow: 0 0 0 0.2rem var(--secondary-color) inset;

	border: none;
	border-radius: 0.6rem;

	padding: 1.2rem 2.4rem;

	cursor: pointer;

	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;

	align-self: flex-end;

	transition: all 0.2s ease-in-out;
}

.secondary-btn:hover {
	box-shadow: 0 0 0 0.3rem var(--primary-color) inset;

	transform: scale(1.025);
}

.secondary-btn:active {
	box-shadow: 0 0 0 0.3rem var(--white) inset;
}

/**************************************/
/*************** HEADER ***************/
/**************************************/

.header {
	width: 100vw;

	box-shadow: 0 0.2rem 0.4rem rgba(0, 81, 255, 0.125);
}

.header .container {
	max-width: 135rem;
}

/*************** Main Header ***************/

.header-main-container {
	justify-content: space-between;
	align-items: center;

	padding: 1.8rem 1.2rem;
}

/* .header-main-container-wrapper {
	border-bottom: 2px solid var(--secondary-color);
} */

.header-logo-btn {
	background-color: transparent;
	border: none;

	cursor: pointer;
}

.header-logo-img {
	height: 5.8rem;
}

/*************** Header Nav ***************/

.header-nav-container {
	padding: 1.2rem 1.2rem 0;
}

.header-nav-list {
	list-style-type: none;
	gap: 3.2rem;
}

.header-nav-link {
	text-decoration: none;

	color: var(--secondary-color);

	font-size: 1.6rem;
	font-weight: 700;

	transition: all 0.2s ease-in-out;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.header-nav-item {
	padding: 0 0.8rem 0.4rem;

	border-bottom: 0.1px solid transparent;

	transition: all 0.1s ease-in-out;
}

.header-nav-item.selected,
.header-nav-item:hover {
	padding: 0 0.8rem 0.1rem;

	border-bottom: 3px solid var(--secondary-color);
}

.header-nav-link:active {
	color: var(--primary-color);
}

/**************************************/
/*************** FOOTER ***************/
/**************************************/

.footer {
	padding: 8rem 18rem 1rem;

	background-image: linear-gradient(
		135deg,
		rgba(189, 221, 241, 1) 0%,
		rgba(118, 168, 199, 1) 100%
	);
}

.footer-main-container {
	width: 100%;

	align-items: center;
	justify-content: space-between;
}

.footer-logo {
	width: 20rem;

	margin-bottom: 3.2rem;
}

.footer-cta-btn {
	align-self: center;
	translate: -12.5% -50%;

	scale: 1.25;

	background-color: var(--primary-color);
}

.footer-cta-btn:hover {
	background-color: var(--secondary-color);
	transform: scale(1.025);
}

.footer-nav-list {
	list-style-type: none;
	gap: 3.2rem;
}

.footer-nav-link {
	text-decoration: none;

	color: var(--primary-color);

	font-size: 1.8rem;
	font-weight: 700;

	transition: all 0.2s ease-in-out;
}

.footer-nav-item {
	padding: 0 0.8rem 0.4rem;

	border-bottom: 0.1px solid transparent;

	transition: all 0.1s ease-in-out;
}

.footer-nav-item.selected,
.footer-nav-item:hover {
	padding: 0 0.8rem 0.1rem;

	border-bottom: 2px solid var(--primary-color);
}

.footer-nav-link:active {
	color: var(--primary-color);
}

.footer-bottom-container {
	width: 100%;

	margin-top: 8rem;

	border-top: 1px solid var(--primary-color);

	align-items: center;
	justify-content: space-between;
}

.footer-socials {
	list-style-type: none;
	gap: 3.2rem;

	margin-top: 1.6rem;
}

.footer-social-item {
	display: inline-block;

	font-size: 3.2rem;
}

.footer-social-icon {
	color: var(--primary-color);

	transition: all 0.2s ease-in-out;
}

.footer-social-item:hover .footer-social-icon {
	color: var(--secondary-color);

	scale: 1.15;
}

.footer-copy {
	font-size: 1.4rem;

	color: var(--primary-color);
}

/*************************************************************/
/*************************************************************/
/************************* HOME PAGE *************************/
/*************************************************************/
/*************************************************************/

/************************************/
/*************** HERO ***************/
/************************************/

.hero-section {
	position: relative;

	min-height: 70rem;
	width: 100vw;
}

.hero-bg-img {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-image: url("../images/hero-bg-small.jpg");

	z-index: -1;
}

.hero-section-content {
	max-width: 32%;

	padding: 2.4rem;

	border-radius: 1.8rem;
	outline: 1px solid rgba(255, 255, 255, 0.5);

	position: absolute;

	top: 50%;
	left: 33%;
	transform: translate(-50%, -50%);

	color: var(--white);
}

/* Glassy Effect */

.hero-section-content::before {
	content: "";

	position: absolute;

	width: 100%;
	height: 100%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: inherit;

	filter: blur(6px);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	background: radial-gradient(
		circle,
		rgba(9, 9, 9, 0.15) 0%,
		rgba(9, 9, 9, 0.15) 100%
	);

	z-index: -1;
}

/**********************/

.hero-section-content h1 {
	font-size: 4.2rem;
	font-weight: 700;

	max-width: 90%;

	line-height: 1.1;
	letter-spacing: -0.75px;

	margin-bottom: 2.4rem;
}

.hero-section-content p {
	font-size: 1.8rem;

	line-height: 1.5;
	letter-spacing: -0.5px;

	margin-bottom: 1.8rem;

	color: #ebebeb;
}

/***************************************/
/*************** SUMMARY ***************/
/***************************************/

.summary-section {
	margin: 12rem 0 18rem;
}

.summary-section-container {
	max-width: 90rem;
	gap: 0;

	align-items: center;
	justify-items: end;
}

.summary-section-text {
	text-align: center;
}

.summary-section-text h2 {
	font-size: 3.2rem;
}

.summary-section-text p {
	font-size: 2.4rem;

	line-height: 1.4;
	letter-spacing: -0.25px;

	margin-bottom: 3.2rem;

	color: var(--text);
}

.summary-section-image {
	width: 35rem;
	aspect-ratio: 1/1;

	border-radius: 1.8rem;

	object-fit: cover;
	object-position: center;

	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

/***************************************/
/*************** CLIENTS ***************/
/***************************************/

.clients-section {
	margin: 12rem 0;
	text-align: center;
}

.clients-heading {
	margin-bottom: 4.8rem;

	border-color: var(--text);

	font-size: 1.8rem;
	font-weight: 700;
}

.clients-list-box {
	position: relative;

	flex-wrap: nowrap;
	gap: 0;

	overflow-x: hidden;
}

/***** Fades *****/
/* 
.clients-list-box::before,
.clients-list-box::after {
	content: "";

	position: absolute;
	top: 0;

	width: 7.5%;
	height: 100%;

	z-index: 2;
}

.clients-list-box::before {
	left: 0;

	background: linear-gradient(
		to right,
		var(--background) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.clients-list-box::after {
	right: 0;

	background: linear-gradient(
		to left,
		var(--background) 0%,
		rgba(255, 255, 255, 0) 100%
	);
} */

/*****************/

.clients-list {
	list-style-type: none;

	gap: var(--clients-list-gap);
	margin-right: var(--clients-list-gap);

	justify-content: center;
	align-items: center;

	flex-wrap: nowrap;

	animation: slideLeft 25s linear infinite;
}

@keyframes slideLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - var(--clients-list-gap)));
	}
}

.clients-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.client-item_logo {
	font-size: 9rem;
}

/****************************************/
/*************** PRODUCTS ***************/
/****************************************/

.products-section {
	margin: 18rem 0;
}

.products-section-container {
	max-width: 140rem;
	gap: 0;

	flex-direction: column;

	align-items: center;
}

.products-section-title {
	margin: 6rem 0;
}

.products-card {
	align-items: center;
	justify-items: center;

	gap: 0rem;

	grid-template-columns: 40fr 60fr;

	margin-bottom: 12rem;
}

/* Z-layout */

.products-card:nth-child(odd) {
	grid-template-columns: 60fr 40fr;
}

.products-card:nth-child(odd) .products-card-text-box {
	order: 1;
}

.products-card:nth-child(odd) .products-card-image-box {
	order: 2;

	align-self: flex-start;
}

.products-card:nth-child(odd) .products-card-image {
	border-radius: 0 1.8rem 1.8rem 0;
}

/***********/

.products-card-image-box {
	position: relative;
	align-self: flex-end;
}

.products-card-image {
	height: 40rem;
	width: 50rem;

	object-fit: cover;
	object-position: center;

	border-radius: 1.8rem 0 0 1.8rem;
}

.products-card-content {
	margin: 5%;

	padding: 5%;
}

.products-card-title {
	font-size: 3.2rem;
	font-weight: 500;

	margin-bottom: 2.8rem;
}

.products-card-title span {
	text-decoration: underline var(--secondary-color);

	font-weight: 700;
}

.products-card-text {
	font-size: 1.8rem;

	line-height: 1.25;
	letter-spacing: -0.25px;

	margin-bottom: 4.2rem;

	color: #333;
}

/* .products-card-content .primary-btn {
	margin-left: 50%;
	transform: translateX(-50%);
} */

/***************************************/
/*************** PROCESS ***************/
/***************************************/

.process-section {
	position: relative;

	margin: 12rem 0;
	padding: 12rem 0;

	background-image: linear-gradient(
		135deg,
		rgba(46, 48, 146, 1) 0%,
		rgb(59, 61, 194) 100%
	);
}

.process-section-container {
	text-align: center;
}

.process-section-title {
	margin-bottom: 12rem;

	color: var(--white);
	border-color: var(--white);
}

.process-img {
	width: 100%;

	object-fit: cover;
	object-position: center;

	filter: brightness(0) invert(1);
}

.process-btn {
	position: relative;

	scale: 1.25;

	margin-top: 8rem;

	background-color: transparent;

	border: 3px solid var(--white);
}

.process-btn::before {
	content: "";

	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	top: -1.25%;
	left: -0.5%;

	height: 102.5%;
	width: 0%;

	background-color: var(--white);

	z-index: -4;

	transition: all 0.2s ease-in-out;
}

.process-btn:hover {
	background-color: transparent;
	color: var(--primary-color);
}

.process-btn:hover::before {
	width: 101%;
}

/********************************************/
/*************** TESTIMONIALS ***************/
/********************************************/

.testimonials-section {
	margin: 12rem 0;
}

.testimonials-section-container {
	flex-direction: column;

	align-items: center;
}

.testimonials-section-title {
	margin-bottom: 3.2rem;

	border-color: var(--primary-color);
}

.testimonial-cards-box {
	gap: 6.4rem;
}

.testimonial-card {
	gap: 4.8rem;

	background-image: linear-gradient(
		135deg,
		rgba(46, 48, 146, 1) 0%,
		rgb(59, 61, 194) 100%
	);

	padding: 4.8rem;

	border-radius: 1.8rem;

	color: var(--white);

	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.testimonial-img {
	width: 8rem;
	height: 8rem;

	border: 6px solid var(--white);
	border-radius: 50%;

	margin-bottom: 0.8rem;
}

.testimonial-author {
	font-size: 1.4rem;

	text-align: center;

	color: #eee;
}

.testimonial-content {
	flex-direction: column;

	justify-content: center;

	gap: 2.4rem;
}

.testimonial-rating-icon {
	visibility: visible;

	font-size: 2.2rem;

	color: #ffee00;
}

.testimonial-text {
	font-size: 1.6rem;

	line-height: 1.35;
	letter-spacing: -0.25px;

	color: #eee;
}

/**************************************/
/*************** AWARDS ***************/
/**************************************/

.awards-section {
	margin: 12rem 0;
	padding: 12rem 0;
}

.awards-section-container {
	max-width: 145rem;

	grid-template-columns: repeat(12, 1fr);

	align-items: center;
	justify-items: center;

	row-gap: 6.4rem;

	text-align: center;
}

.awards-section-heading {
	grid-column: 1 / -1;

	margin-bottom: 3.2rem;
}

.awards-section-card {
	grid-column: span 3;

	border-radius: 1.8rem;
	overflow: hidden;

	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.075);
}

.awards-section-card:nth-child(6),
.awards-section-card:nth-child(7),
.awards-section-card:nth-child(8) {
	grid-column: span 4;
}

.award-img {
	width: 30rem;
	height: 30rem;

	object-fit: cover;
	object-position: center;
}

.award-img.long {
	width: 40rem;
	height: 30rem;
}

.award-title {
	font-size: 1.8rem;

	padding: 2rem 0;
	margin-top: -0.6rem;

	background-color: var(--primary-color);

	color: var(--white);
}

/*****************************************************************/
/*****************************************************************/
/************************* PRODUCTS PAGE *************************/
/*****************************************************************/
/*****************************************************************/

/*************************************************/
/*************** PRODUCTS SHOWCASE ***************/
/*************************************************/

/*************** Content ***************/

.products-showcase-section {
	margin: 6rem 0 32rem;
}

.products-showcase-section-container {
	grid-template-columns: 80fr 20fr;

	max-width: 130rem;
	gap: 9.2rem;

	align-items: center;
}

.products-showcase-section-content {
	position: relative;
}

.products-showcase-section-heading {
	margin-bottom: 3.2rem;
	margin-left: 2.4rem;

	padding-bottom: 0.4rem;
}

.products-showcase-section-img {
	width: 100%;
	aspect-ratio: 16/9;

	border-radius: 1.8rem;

	object-fit: cover;
	object-position: center;

	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.products-showcase-section-text {
	position: absolute;
	bottom: 0%;
	left: 50%;
	translate: -50% 35%;

	width: 70%;

	background-color: var(--background);

	text-align: center;

	font-size: 1.8rem;

	padding: 2.4rem;

	border-radius: 1.4rem;
	border: 1px solid rgba(0, 0, 0, 0.5);

	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);

	transition: all 0.2s ease-in-out;
}

/*************** Nav ***************/

.products-showcase-section-nav {
	flex-direction: column;
	gap: 3.2rem;
}

.products-showcase-nav-title {
	width: 90%;

	font-size: 2rem;
	font-weight: 700;

	text-align: center;

	padding: 1.2rem 2.4rem;

	border-radius: 8px;

	background-color: var(--primary-color);
	color: var(--background);
}

.products-showcase-nav-list {
	flex-direction: column;

	list-style-type: none;
	gap: 0.8rem;
}

.products-showcase-nav-button {
	padding: 0.8rem 1.6rem;

	font-size: 1.6rem;

	background-color: transparent;

	border: none;
	border-left: 2px solid var(--primary-color);

	cursor: pointer;

	transition: all 0.25s ease-in-out;
}

.products-showcase-nav-button:hover,
.products-showcase-nav-button.selected {
	background-color: var(--primary-color);
	color: var(--white);
}

.products-showcase-section-cta-btn {
	align-self: flex-start;

	text-align: center;
	width: 90%;
}

/*************************************/
/*************** CEDRO ***************/
/*************************************/

.cedro-section {
	margin: 24rem 0 18rem;
}

.cedro-section-container {
	justify-content: center;
	align-items: center;
}

.cedro-section-content {
	position: relative;

	max-width: 65%;

	padding: 2.4rem 32rem 2.4rem 2.4rem;

	color: var(--white);

	background-image: linear-gradient(
		135deg,
		rgba(46, 48, 146, 1) 0%,
		rgb(59, 61, 194) 100%
	);

	border-radius: 1.8rem;
}

.cedro-section-content-title {
	font-size: 3.2rem;
	font-weight: 700;

	margin-bottom: 3.2rem;
}

.cedro-section-content-text {
	margin-bottom: 2.4rem;

	line-height: 1.35;

	color: #efefef;
}

.cedro-section-content-link {
	color: #fff;

	font-size: 1.8rem;
	font-weight: 500;

	transition: all 0.2s ease-in-out;
}

.cedro-section-content-link:hover {
	color: var(--accent-color);
}

.cedro-section-content-img {
	position: absolute;

	top: -40%;
	right: -13%;
}

/***************************************/
/*************** PROCESS ***************/
/***************************************/

.products-page .process-section {
	margin-bottom: 0;
}

/********************************************************************/
/********************************************************************/
/************************* MEASUREMENT PAGE *************************/
/********************************************************************/
/********************************************************************/

/*******************************************/
/*************** MEASUREMENT ***************/
/*******************************************/

.measurement-section {
	margin: 12rem 0;
}

.measurement-title-container {
	text-align: center;

	margin-bottom: 12rem;
}

.measurement-section-heading {
	font-size: 4.8rem;

	color: #737373;
}

.measurement-section-container {
	max-width: 85rem;
	gap: 4.2rem;

	margin-bottom: 12rem;
}

.measurement-tables-title {
	margin-bottom: 2.4rem;

	font-size: 2.8rem;
	font-weight: 700;

	letter-spacing: -0.5px;
}

.measurement-tables-list {
	flex-direction: column;

	list-style-type: none;

	gap: 1.8rem;
}

.measurement-tables-link:visited,
.measurement-tables-link:link {
	display: flex;

	text-decoration: none;

	font-size: 2rem;

	align-items: center;
	justify-content: space-between;

	padding: 2.4rem 3.2rem;

	border-radius: 1.2rem;

	background-color: var(--secondary-color);
	color: var(--background);

	transition: all 0.25s ease-in-out;
}

.measurement-tables-link:hover {
	background-color: var(--primary-color);

	scale: 1.025;
}

.measurement-tables-link:active {
	background-color: var(--primary-color);
}

.measurement-image-container {
	position: relative;

	max-width: 140rem;

	justify-content: center;
	align-items: center;
}

.measurement-image {
	width: 100%;
	aspect-ratio: 16/9;

	border-radius: 1.8rem;

	object-fit: cover;
	object-position: center;

	border: 3px dashed var(--primary-color);
}

.measurement-cta-btn {
	position: absolute;

	bottom: 10%;
	left: 50%;
	translate: -50% -50%;

	scale: 1.25;

	background-color: var(--primary-color);
}

.measurement-cta-btn:hover {
	background-color: var(--secondary-color);

	transform: scale(1.025);
}
