:root {
	--primary-color: #2e3092;
	--secondary-color: #0874b8;

	--background: #f8f9fc;
	--text: #222;

	--white: #fff;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-weight: 400;
	font-family: sans-serif;

	overflow-x: hidden;
	max-width: 100vw;
}

body {
	font-size: 1.6rem;

	min-height: 100svh;
	max-width: 100vw;

	overflow-x: hidden;

	background-color: var(--background);
	color: var(--text);
}

/***************************************/
/*************** UTILITY ***************/
/***************************************/

.container {
	max-width: 125rem;
	margin: 0 auto;
	padding: 0 1.2rem;
}

.grid {
	display: grid;
	grid-gap: 1rem;
}

.grid--2-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.flex {
	display: flex;
	gap: 1rem;
}

/**************************************/
/*************** HEADER ***************/
/**************************************/

.header {
	width: 100vw;

	box-shadow: 0 0.2rem 0.4rem rgba(0, 81, 255, 0.125);
}

.header .container {
	max-width: 135rem;
}

/*************** Main Header ***************/

.header-main-container {
	justify-content: space-between;
	align-items: center;

	padding: 1.8rem 1.2rem;
}

/* .header-main-container-wrapper {
	border-bottom: 2px solid var(--secondary-color);
} */

.header-logo-btn {
	background-color: transparent;
	border: none;

	cursor: pointer;
}

.header-logo-img {
	height: 5.8rem;
}

.header-cta-btn {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 0.6rem;

	padding: 1.2rem 2.4rem;

	cursor: pointer;

	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;

	align-self: flex-end;

	transition: all 0.2s ease-in-out;
}

.header-cta-btn:hover {
	background-color: var(--primary-color);

	transform: scale(1.025);
}

.header-cta-btn:active {
	background-color: var(--secondary-color);
}

/*************** Header Nav ***************/

.header-nav-container {
	padding: 1.2rem 1.2rem 0;
}

.header-nav-list {
	list-style-type: none;
	gap: 3.2rem;
}

.header-nav-link {
	text-decoration: none;

	color: var(--secondary-color);

	font-size: 1.6rem;
	font-weight: 700;

	transition: all 0.2s ease-in-out;
}

.header-nav-item {
	padding: 0 0.8rem 0.4rem;

	border-bottom: 0.1px solid transparent;

	transition: all 0.1s ease-in-out;
}

.header-nav-item.selected,
.header-nav-item:hover {
	border-bottom: 2px solid var(--secondary-color);
}

.header-nav-link:active {
	color: var(--primary-color);
}

/************************************/
/*************** HERO ***************/
/************************************/

.hero-section {
	width: 100vw;
}
