.mobile-nav {
	display: none;

	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100svh;

	background-color: var(--background);

	justify-content: center;
	align-items: center;

	z-index: 10;

	display: none;

	transform: translate(100%, 0);
	opacity: 0;

	transition: all 0.25s ease-in;
}

.mobile-nav.active {
	transform: translate(0, 0);
	opacity: 1;
}

.header-mobile-nav-list {
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 3.2rem;

	width: 100%;
	height: 100%;

	list-style: none;
}

.header-mobile-nav-link,
.header-mobile-nav-link:link,
.header-mobile-nav-link:visited {
	color: var(--primary-color);

	font-size: 2.8rem;
	font-weight: 700;

	text-decoration: none;
}

.mobile-nav-cta {
	margin-top: 3.2rem;
	scale: 1.35;
}

/* ************************************* */

.mobile-nav-btn {
	display: none;
}

.burger {
	position: relative;
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	display: block;

	scale: 0.6;

	z-index: 11;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: var(--primary-color);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.3s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
	width: 0%;
	opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
}
